@model IEnumerable<Clinica.Models.Medicamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Medicametos cadastrados</h1>

<p>
    <a asp-action="Create">Adicionar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeGenerico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeFabrica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFabricacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVencimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeMedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeGenerico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFabrica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFabricacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataVencimento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
